@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Begin CSS   */

::-webkit-scrollbar {
    width: 15px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(230, 99, 13);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(235, 66, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kanit', sans-serif;
    line-height: 32px;
}

* {
    box-sizing: border-box;
}

.slides {
    display: none;
}

.slides img {
    height: 1000px;
    width: 100%;
    opacity: 70%;
}

.slideshow-container {
    background-color: black;
    width: 100%;
    height: 1000px;
    position: relative;
    margin: auto;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.header-wrapper {
    overflow: hidden;
    background-color: black;
    display: flex;
    height: 120px;
}

.title {
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 30%;
}

.title a {
    text-decoration: none;
    font-size: 70px;
    padding: 0px 60px;
    color: white;
}

.menu-container {
    cursor: pointer;
}

.nav-wrapper a {
    display: inline-block;
    border-radius: 50px;
    color: #f2f2f2;
    font-size: 35px;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
}

.nav-wrapper {
    display: none;
    position: absolute;
}

.nav-wrapper a:hover {
    background-color: rgb(230, 99, 13);
    color: black;
}

.bar1,
.bar2,
.bar3 {
    width: 45px;
    height: 6px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.3s;
}

.bar-container {
    margin: 50px;
}

.change .bar1 {
    -webkit-transform: rotate(-50deg) translate(-9px, 6px);
    transform: rotate(-50deg) translate(-9px, 6px);
    background-color: rgb(230, 99, 13);
}

.change .bar2 {
    opacity: 0%;
}

.change .bar3 {
    -webkit-transform: rotate(50deg) translate(-8px, -8px);
    transform: rotate(50deg) translate(-8px, -8px);
    background-color: rgb(230, 99, 13);
}

.change .nav-wrapper {
    opacity: 85%;
    display: block;
    padding: 100px 50px;
    background-color: black;
}

#about {
    padding: 60px;
    padding-left: 30%;
}

#about h1 {
    font-size: 55px;
}

.about-wrapper {
    width: 65%;
    justify-content: center;
    align-self: center;
    padding: 50px;
    font-size: 30px;
}

#projects {
    background-color: rgba(0, 0, 0, 0.034);
    height: 80rem;
    display: flex;
}

.project-title {
    font-size: 55px;
    padding: 5rem;
    padding-left: 30%;
}

.project-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    position: absolute;
}

.project {
    display: flex;
    background-color: white;
    font-size: 30px;
    justify-content: center;
    flex-direction: column;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;
    padding: 5px;
    margin-top: 8%;
}

.project img {
    height: 50%;
}

.project:hover {
    box-shadow: 0 8px 16px 0 rgb(230, 99, 13);
}

.github-projects img {
    height: 35px;
    margin: 15px;
    float: right;
}

#writings {
    display: flex;
    flex-direction: column;
}

.writing-img {
    width: 15%;
    background-color: gray;
    align-self: center;
}

.writing-title {
    font-size: 55px;
    padding: 50px;
    padding-left: 30%;
}

.writing-container {
    width: 50%;
    padding-left: 50%;
    align-self: center;
    font-size: 30px;
    margin-left: 15%;
    padding: 10px;
}

.writing-container a {
    font-size: 35px;
    padding: 50px;
    color: rgb(230, 99, 13);
    float: right;
}

#contact {
    background-color: rgba(0, 0, 0, 0.034);
    display: flex;
    flex-direction: column;
}

#contact h1 {
    font-size: 55px;
    padding: 50px;
    padding-left: 30%;
}

.contact-form {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    padding: 15px;
    padding-left: 60px;
    margin-bottom: 50px;
}

.email-input {
    font-size: 25px;
    padding: 7px;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-input {
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: both;
    overflow: auto;
}

.submit-input {
    background-color: black;
    border-radius: 25px;
    border: none;
    font-size: 25px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.submit-input:hover {
    box-shadow: 0 0px 15px 0 rgb(230, 99, 13);
    color: rgb(230, 99, 13);
}

@media only screen and (max-width: 1000px) {
    .slides img {
        display: none;

    }

    .slideshow-container {
        display: none;
    }

    .title a {
        font-size: 50px;
    }

    .nav-wrapper a {
        font-size: 25px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 4px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-50deg) translate(-6px, 6px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(50deg) translate(-8px, -8px);
    }

    #about h1 {
        font-size: 40px;
    }

    .about-wrapper {
        padding: 25px;
        font-size: 25px;
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .nav-wrapper a {
        padding: 20px 20px;
        font-size: 20px;
        line-height: 12px;
    }

    .change .nav-wrapper {
        padding: 110px 50px;
        padding-bottom: 20px;
    }

    .title a {
        font-size: 30px;
        padding: 0px 10px;
    }

    .title {
        margin-left: 0%;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 3px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-50deg) translate(-5px, 5px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(50deg) translate(-7px, -7px);
    }
    #about {
        padding-left: 16%;
    }
    #about h1 {
        font-size: 30px;
    }

    .about-wrapper {
        line-height: 20px;
        padding: 15px;
        font-size: 18px;
        width: 100%;
    }

    #projects {
        background-color: rgba(0, 0, 0, 0.034);
        height: 107rem;
        display: flex;
    }

    .project-title {
        font-size: 30px;
        padding-left: 16%;
    }

    .project-container {
        flex-direction: column;
        padding-top: 150px;
    }

    .project {
        font-size: 18px;
        line-height: 20px;
        height: 15%;
        padding: 15px;
        margin-top: 3%;
    }

    .project img {
        height: 170px;
    }

    .github-projects img {
        height: 25px;
    }

    .writing-title {
        font-size: 30px;
        padding-left: 16%;
    }

    .writing-img {
        width: 55%;
    }

    .writing-container {
        width: 80%;
        font-size: 18px;
        line-height: 20px;
    }

    .writing-container a {
        line-height: 20px;
        font-size: 18px;
    }
    #contact h1 {
        font-size: 30px;
        padding-left: 16%;
        padding-bottom: 0px;
    }
    .contact-form {
        font-size: 18px;
        width: 85%;
    }
    .email-input {
        font-size: 18px;
        line-height: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .message-input {
        border-radius: 10px;
        padding: 15px;
        font-size: 18px;
        line-height: 20px;
        border: 2px solid black;
        margin-top: 10px;
        margin-bottom: 20px;
        resize: both;
        overflow: auto;
    }
    .submit-input {
        font-size: 18px;
        padding: 10px;
        width: 120px;
    }
}